# converted from https://github.com/eylles/pywal16/blob/master/pywal/templates/colors--nodim-alacritty.yml
colors:

  primary:
    background: "{{Colour2-hex}}"
    foreground: "{{Colour0-hex}}"

  cursor:
    text: CellBackground
    cursor: CellForeground

  vi_mode_cursor:
    text: CellBackground
    cursor: CellForeground

  search:
    matches:
      foreground: '{{Colour6-hex}}'
      background: '{{Colour21-hex}}'
    focused_match:
      foreground: CellBackground
      background: CellForeground

  line_indicator:
    foreground: None
    background: None

  footer_bar:
    foreground: '{{Colour7-hex}}'
    background: '{{Colour20-hex}}'

  selection:
    text: CellBackground
    background: CellForeground

  normal:
    black: "{{Colour6-hex}}"
    red: "{{Colour8-hex}}"
    green: "{{Colour10-hex}}"
    yellow: "{{Colour12-hex}}"
    blue: "{{Colour14-hex}}"
    magenta: "{{Colour16-hex}}"
    cyan: "{{Colour18-hex}}"
    white: "{{Colour20-hex}}"

  bright:
    black: "{{Colour7-hex}}"
    red: "{{Colour9-hex}}"
    green: "{{Colour11-hex}}"
    yellow: "{{Colour13-hex}}"
    blue: "{{Colour15-hex}}"
    magenta: "{{Colour17-hex}}"
    cyan: "{{Colour19-hex}}"
    white: "{{Colour21-hex}}"

