system: "base24"
name: "{{scheme-name}}"
author: "{{scheme-author}}"
variant: "FIXME"
#variant: "light"
#variant: "dark"
palette:
  base00: "{{Colour2-hex}}"
  base01: "{{Colour6-hex}}"
  base02: "{{Colour7-hex}}"
  base03: "{{FIXME}}"  # TODO review
  base04: "{{FIXME}}"  # TODO review
  base05: "{{Colour0-hex}}"
  base06: "{{Colour20-hex}}"
  base07: "{{Colour21-hex}}"

  base08: "{{Colour8-hex}}"
  base09: "{{FIXME}}"  # TODO review - Orange
  base0A: "{{Colour12-hex}}"
  base0B: "{{Colour10-hex}}"
  base0C: "{{Colour18-hex}}"
  base0D: "{{Colour14-hex}}"
  base0E: "{{Colour16-hex}}"
  base0F: "{{FIXME}}"  # TODO review - Dark Red or Brown, could derive dark red from base08

  base10: "{{FIXME}}"  # TODO review - consider deriving based on base00
  base11: "{{FIXME}}"  # TODO review - consider deriving based on base00
  base12: "{{Colour9-hex}}"
  base13: "{{Colour13-hex}}"
  base14: "{{Colour11-hex}}"
  base15: "{{Colour19-hex}}"
  base16: "{{Colour15-hex}}"
  base17: "{{Colour17-hex}}"

#{{scheme-comment}}
#{{scheme-comment1}}
#{{scheme-comment2}}
#{{scheme-comment3}}
#{{scheme-comment4}}
#{{scheme-comment5}}
#{{scheme-comment6}}
#{{scheme-comment7}}
#{{scheme-comment8}}
#{{scheme-comment9}}
# Sample usage:
#   python any2theme.py base24_scheme.yaml  --output_extension .yaml -t base24_scheme.mustache
