; Slugname {{scheme-slug}}
; for use with colortool / Color Tool April 2019
; from https://github.com/microsoft/terminal/releases/tag/1904.29002
[info]
name  =  {{scheme-name}}
author  =  {{scheme-author}}

[table]

; ANSI Black
; 30m / 40m
; Colour6 #{{Colour6-hex}}
DARK_BLACK = {{Colour6-rgb-r}},{{Colour6-rgb-g}},{{Colour6-rgb-b}}

; ANSI Black Bright
; 1;30m
; Colour7 #{{Colour7-hex}}
BRIGHT_BLACK = {{Colour7-rgb-r}},{{Colour7-rgb-g}},{{Colour7-rgb-b}}

; ANSI Red
; 31m / 41m
; Colour8 #{{Colour8-hex}}
DARK_RED = {{Colour8-rgb-r}},{{Colour8-rgb-g}},{{Colour8-rgb-b}}

; ANSI Red Bright
; 1;31m
; Colour9 #{{Colour9-hex}}
BRIGHT_RED = {{Colour9-rgb-r}},{{Colour9-rgb-g}},{{Colour9-rgb-b}}

; ANSI Green
; 32m / 42m
; Colour10 #{{Colour10-hex}}
DARK_GREEN = {{Colour10-rgb-r}},{{Colour10-rgb-g}},{{Colour10-rgb-b}}

; ANSI Green Bright
; 1;32m
; Colour11 #{{Colour11-hex}}
BRIGHT_GREEN = {{Colour11-rgb-r}},{{Colour11-rgb-g}},{{Colour11-rgb-b}}

; ANSI Yellow
; 33m / 43m
; Colour12 #{{Colour12-hex}}
DARK_YELLOW = {{Colour12-rgb-r}},{{Colour12-rgb-g}},{{Colour12-rgb-b}}

; ANSI Yellow Bright
; 1;33m
; Colour13 #{{Colour13-hex}}
BRIGHT_YELLOW = {{Colour13-rgb-r}},{{Colour13-rgb-g}},{{Colour13-rgb-b}}

; ANSI Blue
; 34m / 44m
; Colour14 #{{Colour14-hex}}
DARK_BLUE = {{Colour14-rgb-r}},{{Colour14-rgb-g}},{{Colour14-rgb-b}}

; ANSI Blue Bright
; 1;34m
; Colour15 #{{Colour15-hex}}
BRIGHT_BLUE = {{Colour15-rgb-r}},{{Colour15-rgb-g}},{{Colour15-rgb-b}}

; ANSI Magenta
; 35m / 45m
; Colour16 #{{Colour16-hex}}
DARK_MAGENTA = {{Colour16-rgb-r}},{{Colour16-rgb-g}},{{Colour16-rgb-b}}

; ANSI Magenta Bright
; 1;35m
; Colour17 #{{Colour17-hex}}
BRIGHT_MAGENTA = {{Colour17-rgb-r}},{{Colour17-rgb-g}},{{Colour17-rgb-b}}

; ANSI Cyan
; 36m / 46m
; Colour18 #{{Colour18-hex}}
DARK_CYAN = {{Colour18-rgb-r}},{{Colour18-rgb-g}},{{Colour18-rgb-b}}

; ANSI Cyan Bright
; 1;36m
; Colour19 #{{Colour19-hex}}
BRIGHT_CYAN = {{Colour19-rgb-r}},{{Colour19-rgb-g}},{{Colour19-rgb-b}}

; ANSI White
; 37m / 47m
; Colour20 #{{Colour20-hex}}
DARK_WHITE = {{Colour20-rgb-r}},{{Colour20-rgb-g}},{{Colour20-rgb-b}}

; ANSI White Bright
; 1;37m
; Colour21 {{Colour21-hex}}
BRIGHT_WHITE = {{Colour21-rgb-r}},{{Colour21-rgb-g}},{{Colour21-rgb-b}}

; {{! Theme rendered with https://github.com/clach04/terminal_style_toolkit }}
