{
  "special": {
    "foreground": "{{Colour0-hex}}",
    "background": "{{Colour2-hex}}",
    "cursor": "{{Colour5-hex}}"
  },
  "colors": {
    "color0": "{{Colour6-hex}}",
    "color1": "{{Colour8-hex}}",
    "color2": "{{Colour10-hex}}",
    "color3": "{{Colour12-hex}}",
    "color4": "{{Colour14-hex}}",
    "color5": "{{Colour16-hex}}",
    "color6": "{{Colour18-hex}}",
    "color7": "{{Colour20-hex}}",
    "color8": "{{Colour7-hex}}",
    "color9": "{{Colour9-hex}}",
    "color10": "{{Colour11-hex}}",
    "color11": "{{Colour13-hex}}",
    "color12": "{{Colour15-hex}}",
    "color13": "{{Colour17-hex}}",
    "color14": "{{Colour19-hex}}",
    "color15": "{{Colour21-hex}}",


    "color16": "{{Colour7-hex}}",
    "color17": "{{Colour5-hex}}"
  },
  "TST_COMMENT1": "color16 and color17 **could** be fg_bold and cursor_text?",
  "TST_COMMENT2": "template to generate pywal16.json file from https://github.com/clach04/terminal_style_toolkit/"
}
